body {
  font-family: "Arial", "Meiryo", sans-serif;
}
html { 
  font-size: 20px;
  text-align: center;
}
#basic p {
  font-weight: bold;
}
.blue {
  color: skyblue;
}
.pink {
  color: rgb(255, 192, 203) ;
}
h1 {
  /* ここにGoogle Fontを指定します */
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  letter-spacing: 1.2em;
  text-shadow: 2px 2px 2px gray;
  border-bottom: solid 3px;
  /* text-decoration-line: underline; */
  /* text-decoration-style: solid; */
  /* text-decoration-thickness: 3px; */
  text-decoration-color: rgb(115, 115, 114);
}