body {
  font-family: "Arial", "Meiryo", sans-serif; 
  text-align: center;
}
html { 
  font-size: 20px;
}
#basic > p {
  font-weight: bold;
}
.blue {
  color: skyblue;
}
.pink {
  color: rgb(255, 192, 203) ;
}
h1 {
  /* ここにGoogle Fontを指定します */
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  letter-spacing: 1.2em;
  text-shadow: 2px 2px 2px gray;
  border-bottom: solid 3px rgb(115, 115, 114);
}